*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(218, 230, 230);
    width: 900px;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.cabe{
    background-color: rgb(33, 71, 153);
    height: 100px;
    margin-top: 10px;
   
}
.cabe header{
   color: aliceblue;
   text-align: center;
   padding-top: 40px;
    
}

.con{
    display: flex;
}
.par1{
    display: flex;
}
.par2{
   display: flex;
}
.tes{
    display: flex;
    flex-direction: column;
}
.con1{
    background-color: green;
    margin-top: 10px;
    height: 410px;
    width: 400px;
}
.con2{
    background-color: green;
    margin-top: 10px;
    height: 200px;
    width: 540px;
    margin-left: 10px;
}
.con3{
    background-color: green;
    margin-top: 10px;
    height: 200px;
    width: 130px;
    margin-left: 10px;
}
.con4{
    background-color: green;
    margin-top: 10px;
    height: 200px;
    width: 250px;
    margin-left: 10px;
}
.con5{
    background-color: green;
    margin-top: 10px;
    height: 200px;
    width: 140px;
    margin-left: 10px;
}
.con1 header{
    color: white;
    text-align: center;
    padding-top: 200px;
    
}
.con3 header{
    color: white;
    text-align: center;
    padding-top: 90px;
    
    
}
.con2 header{
    color: white;
    text-align: center;
    padding-top: 90px;
    
    }
.con4 header{
     color: white;
     text-align: center;
     padding-top: 90px;
 }
 .con5 header{
      color: white;
      text-align: center;
     padding-top: 90px;
 }
 .rodape{
    background-color: brown;
    margin-top: 10px;
    height: 50px;
 }
 .rodape header{
    color: white;
      text-align: center;
     padding-top: 15px;
    
 }